<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : menu.xml
    Created on : 01 August 2008, 1:43 PM
    Author     : brett chaldecott
    Description:
        The menu structure.
-->
<menus>
    <menu identifier= "&lt;img src='images/Title.png' border=0/&gt;">
	<launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; About" name="About" title="" mouseOver="About Coadunation OS"
                    url="/FileManager/dlf/Readme.txt" width="600" height="400" role="desktop"/>
	<launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; GNU Licence" name="GNU Licence" title="" mouseOver="GNU Licence"
                    url="/FileManager/dlf/Licence.txt" width="600" height="400" role="desktop"/>
	<div/>
        <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/utilities-terminal.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Admin Console" name="Admin Console" title="" mouseOver="Admin Console"
                    url="/CoadunationAdmin/" width="600" height="400" role="admin"/>
        <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/control-panel.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Control Panel" name="Control Panel" title="" mouseOver="Control Panel"
                    url="/GroovyWeb/ControlPanel" width="700" height="500" role="admin"/>
	<menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/system-installer.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Deployment" role="desktop">
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/internet-web-browser.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Web" name="Tomcat Admin" title="" mouseOver="Tomcat Admin"
                    url="/manager/html/list" width="600" height="400" role="admin"/>
	    <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/utilities-terminal.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Daemon" name="File Manager" title="Deployed Applications" mouseOver="Deployed Applications"
                    url="/FileManager/path/deploy/" width="600" height="400" role="admin"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/internet-web-browser.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; PHP Management" name="File Manager" title="PHP" mouseOver="PHP File Management"
                    url="/FileManager/path/var/tomcat/webapps/quercus-4.0.3" width="600" height="400" role="admin"/>
        </menu>
        <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/system-file-manager.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; File Manager" name="File Manager" title="Root" mouseOver="File Manager"
                    url="/FileManager/path/" width="600" height="400" role="admin"/>
	<launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/user-desktop.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Configuration" name="File Manager" title="Desktop Configuration" mouseOver="Desktop Configuration"
                    url="/FileManager/path/var/desktop/" width="600" height="400" role="admin"/>
	<launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/document-open.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Documents" name="File Manager" title="Documents" mouseOver="Documents"
                    url="/FileManager/path/documents" width="600" height="400" role="desktop"/>
        <div/>
        <menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/accessories-text-editor.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Logs" role="desktop">
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Coadunation" name="Log" title="Coadunation" mouseOver="Coadunation Log"
                    url="/FileManager/dlf/log/coadunation.log" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Audit Trail" name="Log" title="Audit Trail" mouseOver="Coadunation Audit Trail"
                    url="/FileManager/dlf/log/audit.log" width="600" height="400" role="desktop"/>
	    <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Tomcat" name="Log" title="Tomcat" mouseOver="Tomcat Log"
                    url="/FileManager/dlf/log/apachetomcat.log" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Email Server" name="Log" title="Email Server" mouseOver="Email Server Log"
                    url="/FileManager/dlf/log/email.log" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Message Service" name="Log" title="Message Service" mouseOver="Message Service Log"
                    url="/FileManager/dlf/log/messageservice.log" width="600" height="400" role="desktop"/>
	    <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Named" name="Log" title="Named" mouseOver="Named Log"
                    url="/FileManager/dlf/log/named.log" width="600" height="400" role="desktop"/>
        </menu>
    </menu>

    <menu identifier= "&lt;img src='images/Applications.png' border=0/&gt;">
	<menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/applications-office.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Office" role="office_suite">
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/applications-office.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Office Suite" name="Office Suite" title="" mouseOver="Office Suite"
                    url="/OfficeSuite" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/internet-mail.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Web Mail" name="Web Mail" title="" mouseOver="Web Mail"
                    url="/WebMail" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/folder.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Jam Wiki" name="Jam Wiki" title="" mouseOver="Jam Wiki"
                    url="/jamwiki-0.6.6" width="600" height="400" role="desktop"/>
	</menu>
	<menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/applications-development.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Development" role="desktop">
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/applications-system.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Hudson Build" name="Hudson Build" title="" mouseOver="Hudson"
                    url="/hudson" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/preferences-system.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; COSS Types" name="COSS Types" title="" mouseOver="COSS Types"
                    url="/CoadunationTypeManagerConsole" width="600" height="400" role="admin"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/preferences-system.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; COSS Workflow" name="COSS Workflow" title="" mouseOver="COSS Workflow"
                    url="/ChangeManagerConsole" width="600" height="400" role="admin"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/preferences-system.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; COSS IDE" name="COSS IDE" title="" mouseOver="COSS IDE"
                    url="/ScriptIDE" width="600" height="400" role="script_manager"/>
            <launcher identifier="Scripts" name="File Manager" title="Scripts" mouseOver="Script Management"
                    url="/FileManager/path/var/script" width="600" height="400" role="admin"/>
            <launcher identifier="Example PHP APP" name="Example PHP APP" title="" mouseOver="Example PHP App"
                    url="/quercus-4.0.3" width="600" height="400" role="admin"/>
        </menu>
	<menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/utilities-system-monitor.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Monitoring" role="desktop">
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/applications-system.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Audit Trail" name="Audit Trail" title="" mouseOver="Hudson"
                    url="/AuditTrailConsole" width="600" height="400" role="desktop"/>

        </menu>
        <menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/applications-internet.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Internet" role="desktop">
            <launcher identifier="Google Search" name="Google Search" title="" mouseOver="Google Search"
                    url="http://www.google.com" width="600" height="400" role="desktop"/>
	    <launcher identifier="Wikipedia" name="Wikipedia" title="" mouseOver="Wikipedia"
                    url="http://www.wikipedia.org/" width="600" height="400" role="desktop"/>
        </menu>
    </menu>
    
    <menu identifier= "&lt;img src='images/Help.png' border=0/&gt;">
        <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/help-browser.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Online Help" name="Online Help" title="" mouseOver="Coadunation Online Help"
                    url="http://www.coadunation.net/content/documents" width="600" height="400" role="desktop"/>
        <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/help-browser.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Manual" name="Manual" title="" mouseOver="Manual"
                    url="http://www.coadunation.net/manuals/gettingstartedhtml/gettingStarted.html" width="600" height="400" role="desktop"/>
        <div/>
        <menu identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/help-browser.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; API" role="desktop">
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; JDK 1.5" name="API" title="JDK 1.5" mouseOver="JDK 1.5 API"
                    url="http://java.sun.com/j2se/1.5.0/docs/api/" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; J2SE 6" name="API" title="J2SE 6" mouseOver="J2SE 6 API"
                    url="http://java.sun.com/javase/6/docs/api/" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; J2EE 5" name="API" title="J2EE 5" mouseOver="J2EE 5 API"
                    url="http://java.sun.com/javaee/5/docs/api/" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Coadunation Lib" name="API" title="Coadunation Lib" mouseOver="Coadunation Lib API"
                    url="/FileManager/dlf/documents/CoadunationLib/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Deployment" name="API" title="Deployment Daemon" mouseOver="Deployment Daemon API"
                    url="/FileManager/dlf/documents/deploymentdaemon/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Desktop Server" name="API" title="Desktop Server" mouseOver="Desktop Server API"
                    url="/FileManager/dlf/documents/desktopserverclient/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; DNS Server" name="API" title="DNS Server" mouseOver="DNS Server API"
                    url="/FileManager/dlf/documents/dnsserver/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; HsqlDB" name="API" title="HsqlDB" mouseOver="HsqlDB Daemon API"
                    url="/FileManager/dlf/documents/hsqldb/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Jython Daemon" name="API" title="Jython Daemon" mouseOver="Jython Daemon API"
                    url="/FileManager/dlf/documents/jythondaemon/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Message Service" name="API" title="Message Service" mouseOver="Message Service API"
                    url="/FileManager/dlf/documents/messageservice/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; RDB User Manager" name="API" title="RDB User Manager" mouseOver="RDB User Manager API"
                    url="/FileManager/dlf/documents/rdbusermanager/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Service Broker" name="API" title="Service Broker" mouseOver="Service Broker API"
                    url="/FileManager/dlf/documents/servicebroker/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Timer" name="API" title="Timer" mouseOver="Timer API"
                    url="/FileManager/dlf/documents/timer/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Event" name="API" title="Event" mouseOver="Event Server API"
                    url="/FileManager/dlf/documents/event/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Semantics" name="API" title="Semantics" mouseOver="Semantics API"
                    url="/FileManager/dlf/documents/Semantics/index.html" width="600" height="400" role="desktop"/>
            <launcher identifier="&lt;img src='/FileManager/dlf/var/desktop/icons/text-x-generic.png' style='vertical-align:middle' border=0 width=16 height=16 /&gt; Coadunation Semantics" name="API" title="Coadunation Semantics" mouseOver="Coadunation Semantics API"
                    url="/FileManager/dlf/documents/CoadunationSemantics/index.html" width="600" height="400" role="desktop"/>
        </menu>
    </menu>
    
    
</menus>
