<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LogQuery</servlet-name>
        <servlet-class>com.rift.coad.audit.gwt.console.server.query.LogQueryImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.FileManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileEditor</servlet-name>
        <servlet-class>com.rift.coad.script.servlet.FileEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.type.ResourceManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MappingManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.mapping.MappingManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PHPFileManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.php.PHPFileManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PHPFileEditor</servlet-name>
        <servlet-class>com.rift.coad.script.servlet.PHPFileEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSourceManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.php.ViewSourceManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroovyFileManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.groovy.GroovyFileManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroovyFileEditor</servlet-name>
        <servlet-class>com.rift.coad.script.servlet.GroovyFileEditor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroovyViewSourceManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.groovy.GroovyViewSourceManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimerManager</servlet-name>
        <servlet-class>com.rift.coad.script.server.files.TimerManagerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogQuery</servlet-name>
        <url-pattern>/query/logquery</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileManager</servlet-name>
        <url-pattern>/files/filemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileEditor</servlet-name>
        <url-pattern>/FileEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceManager</servlet-name>
        <url-pattern>/type/resourcemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingManager</servlet-name>
        <url-pattern>/files/mapping/mappingmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PHPFileManager</servlet-name>
        <url-pattern>/files/php/phpfilemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PHPFileEditor</servlet-name>
        <url-pattern>/PHPFileEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSourceManager</servlet-name>
        <url-pattern>/files/php/viewsourcemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroovyFileManager</servlet-name>
        <url-pattern>/files/groovy/groovyfilemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroovyFileEditor</servlet-name>
        <url-pattern>/GroovyFileEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroovyViewSourceManager</servlet-name>
        <url-pattern>/files/groovy/groovyviewsourcemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimerManager</servlet-name>
        <url-pattern>/files/timermanager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>script_manager</display-name>
        <web-resource-collection>
            <web-resource-name>script_manager</web-resource-name>
            <description>administration console</description>
            <url-pattern>/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>script_manager</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Change Manager Console</realm-name>
    </login-config>
    <security-role>
        <description>script_manager</description>
        <role-name>script_manager</role-name>
    </security-role>
</web-app>
