<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>TransactionScopeFilter</filter-name>
        <filter-class>com.rift.dipforge.groovy.web.TransactionScopeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionScopeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RedirectFilter</filter-name>
        <filter-class>com.rift.dipforge.groovy.web.redirect.RedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>WebGroovyServlet</servlet-name>
        <servlet-class>com.rift.dipforge.groovy.web.WebGroovyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MediaServlet</servlet-name>
        <servlet-class>com.rift.dipforge.groovy.web.media.MediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextHtmlServlet</servlet-name>
        <servlet-class>com.rift.dipforge.groovy.web.text.TextHtmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebGroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GSPTemplate</servlet-name>
        <servlet-class>com.rift.dipforge.groovy.web.template.DipforgeGSPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GSPTemplate</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServlet</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServlet</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServlet</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MediaServlet</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextHtmlServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextHtmlServlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextHtmlServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextHtmlServlet</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.gsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.groovy</welcome-file>
    </welcome-file-list>
</web-app>
