<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>The Coadunation OS desktop.</description>
    <display-name>Coadunation OS Desktop</display-name>
    <servlet>
        <servlet-name>TopBar</servlet-name>
        <servlet-class>com.rift.coad.desktop.server.top.TopBarImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.rift.coad.desktop.server.UserInfoImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesktopRPC</servlet-name>
        <servlet-class>com.rift.coad.desktop.server.desk.DesktopRPCImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedRPCService</servlet-name>
        <servlet-class>com.rift.coad.desktop.server.desk.feed.FeedRPCServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventRPCService</servlet-name>
        <servlet-class>com.rift.coad.desktop.server.desk.event.EventRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopBar</servlet-name>
        <url-pattern>/com.rift.coad.desktop.Main/top/topbar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/com.rift.coad.desktop.Main/userinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesktopRPC</servlet-name>
        <url-pattern>/com.rift.coad.desktop.Main/desk/desktoprpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedRPCService</servlet-name>
        <url-pattern>/com.rift.coad.desktop.Main/desk/feed/feedrpcservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventRPCService</servlet-name>
        <url-pattern>/com.rift.coad.desktop.Main/desk/event/eventrpcservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>desktop</display-name>
        <web-resource-collection>
            <web-resource-name>desktop</web-resource-name>
            <description>Desktop</description>
            <url-pattern>/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>desktop</description>
            <role-name>desktop</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>logout</display-name>
        <web-resource-collection>
            <web-resource-name>logout</web-resource-name>
            <description>logout</description>
            <url-pattern>/logout.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>logout</description>
            <role-name>logout</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Coadunation Desktop</realm-name>
        </login-config>
    <security-role>
        <description>desktop</description>
        <role-name>desktop</role-name>
    </security-role>
    <security-role>
        <description>logout</description>
        <role-name>logout</role-name>
    </security-role>
    </web-app>
