<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>LogQuery</servlet-name>
        <servlet-class>com.rift.coad.audit.gwt.console.server.query.LogQueryImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>com.rift.coad.change.server.resources.QueryImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionManager</servlet-name>
        <servlet-class>com.rift.coad.change.server.action.ActionManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataMapperManager</servlet-name>
        <servlet-class>com.rift.coad.change.server.action.workflow.piece.call.DataMapperManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceManager</servlet-name>
        <servlet-class>com.rift.coad.change.server.action.workflow.piece.resource.ResourceManagerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogQuery</servlet-name>
        <url-pattern>/query/logquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/resources/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionManager</servlet-name>
        <url-pattern>/action/actionmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataMapperManager</servlet-name>
        <url-pattern>/action/workflow/piece/call/datamappermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceManager</servlet-name>
        <url-pattern>/action/workflow/piece/resource/resourcemanager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>change</display-name>
        <web-resource-collection>
            <web-resource-name>change</web-resource-name>
            <description>administration console</description>
            <url-pattern>/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>change</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Change Manager Console</realm-name>
    </login-config>
    <security-role>
        <description>change</description>
        <role-name>change</role-name>
    </security-role>
</web-app>
