<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LogQuery</servlet-name>
        <servlet-class>com.rift.coad.audit.gwt.console.server.query.LogQueryImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntriesRPCInterface</servlet-name>
        <servlet-class>com.rift.coad.catalog.server.entry.EntriesRPCInterfaceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceManager</servlet-name>
        <servlet-class>com.rift.coad.catalog.server.types.ResourceManagerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfferingsRPCInterface</servlet-name>
        <servlet-class>com.rift.coad.catalog.server.offering.OfferingsRPCInterfaceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogQuery</servlet-name>
        <url-pattern>/query/logquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntriesRPCInterface</servlet-name>
        <url-pattern>/entry/entriesrpcinterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceManager</servlet-name>
        <url-pattern>/types/resourcemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfferingsRPCInterface</servlet-name>
        <url-pattern>/offering/offeringsrpcinterface</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>catalog</display-name>
        <web-resource-collection>
            <web-resource-name>catalog</web-resource-name>
            <description>administration console</description>
            <url-pattern>/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>catalog</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Catalog Console</realm-name>
    </login-config>
    <security-role>
        <description>catalog</description>
        <role-name>catalog</role-name>
    </security-role>
</web-app>
