<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.groovy</welcome-file>
        <welcome-file>index.gsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>TransactionScopeFilter</filter-name>
        <filter-class>com.rift.coad.web.rdf.TransactionScopeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TransactionScopeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>GroovyTemplate</servlet-name>
        <servlet-class>groovy.servlet.TemplateServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>RDFConfigure</servlet-name>
        <servlet-class>com.rift.coad.web.rdf.RDFConfigure</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CoadunationGroovyServlet</servlet-name>
        <servlet-class>com.rift.coad.web.groovy.CoadunationGroovyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoadunationGroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroovyTemplate</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RDFConfigure</servlet-name>
        <url-pattern>/RDFConfigure</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <display-name>ControlPanel</display-name>
        <web-resource-collection>
            <web-resource-name>ControlPanel</web-resource-name>
            <description>Control Panel</description>
            <url-pattern>/ControlPanel/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>desktop</role-name>
            <role-name>daemon</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>Applications</display-name>
        <web-resource-collection>
            <web-resource-name>Applications</web-resource-name>
            <description>The applications</description>
            <url-pattern>/Applications/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Applications Roles</description>
            <role-name>desktop</role-name>
            <role-name>daemon</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>ISPControlPanel</display-name>
        <web-resource-collection>
            <web-resource-name>ISP Control Panel</web-resource-name>
            <description>ISP Control Panel</description>
            <url-pattern>/ISPControlPanel/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Roles</description>
            <role-name>daemon</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Groovy Web</realm-name>
        </login-config>
    <security-role>
        <description>admin</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>desktop</description>
        <role-name>desktop</role-name>
    </security-role>
    <security-role>
        <description>daemon</description>
        <role-name>daemon</role-name>
    </security-role>
    </web-app>
